body{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(135deg, #020617, #061a2e, #0a3cff);
  color: white;
}
.body {
  width: 100%;
  padding-left: 30px;
  height: 100vh;
  overflow-y: auto;
}

h1{
    font-weight: 1;
}
.date{
    margin-bottom: 30px;
display: flex;
width: 95%;
align-items: center;
justify-content: center;
gap: 10px;
}

#from,#to{
padding: 10px;
width: 100%;
background-color: #ffffff25;
border: 1px solid rgba(255, 255, 255, 0.432);
color: white;
border-radius: 30px;
}



#customer-table {
  text-align: center;
  width: 95%;
  border-collapse: collapse;
}
#customer-table th{
    padding-bottom: 15px;
}
#customer-table td {
  padding: 20px;
  font-size: 17px;
}

#customer-table tr {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}
