body{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(135deg, #020617, #061a2e, #0a3cff);
  color: white;
}
.body {
  width: 100%;
  padding-left: 30px;
  height: 100vh;
  overflow-y: auto;
}

h1{
    font-weight: 1;
}
.date{
    margin-bottom: 30px;
display: flex;
width: 95%;
align-items: center;
justify-content: center;
gap: 10px;
}

#from-cust,#to-cust{
padding: 10px;
width: 100%;
background-color: #ffffff25;
border: 1px solid rgba(255, 255, 255, 0.432);
color: white;
border-radius: 30px;
}



.table{
    overflow-x: auto;
    padding-bottom: 10px;

}

  .table::-webkit-scrollbar {
    width: 1px;
  }

  .table::-webkit-scrollbar-track {
    background: #1e1e1e4b;
  }

  .table::-webkit-scrollbar-thumb {
    background: #ffffff5b;
    border-radius: 10px;
  }

  .table::-webkit-scrollbar-thumb:hover {
    background: #ecececb4;
  }

#customer-table {
  text-align: center;
  width: 95%;
  border-collapse: collapse;
}
#customer-table th{
    padding-bottom: 15px;
}
#customer-table td {
  padding: 20px;
  font-size: 17px;
}

#customer-table tr {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}

#edit-btn{
  background-color: #22c55e;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
}
#delete-btn{
  background-color: #e62828;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
}