

.records-main {
  width: 100%;
  padding-left: 30px;
  overflow-y: auto;
}

.records-suppliers,
.records-products,
.records-customers {
    display: none;  
      animation: fade 0.3s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.records-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    width: 95%;
}
.records-one,.records-two,.records-three{
    border: 1px solid rgba(255, 255, 255, 0.432);
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.records-one h2,.records-two h2,.records-three h2{
  color: white;
  text-decoration: none;
}
.records-one:hover,.records-two:hover,.records-three:hover{
background-color: rgba(255, 255, 255, 0.788);
color: black;
}
#records-main-h1{
    font-weight: 1;
    width: fit-content;
}
.records-date-input{
    margin-bottom: 30px;
display: flex;
width: 95%;
align-items: center;
justify-content: center;
gap: 10px;
}

#records-from,#records-to{
padding: 10px;
width: 100%;
background-color: #ffffff25;
border: 1px solid rgba(255, 255, 255, 0.432);
color: white;
border-radius: 30px;
}